.content{
    margin: 0 auto;
}
.row::after{
    content: "";
    display: table;
    clear: both;
}
.row{
   padding: 0 8px;
}
.col33{
    float: left;
    width: 33.333%;  
    padding: 16px 8px;
}
.col66{
    float: left;
    width: 66.666%;
    padding: 0 8px; 
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 16px;
}
.descripme{
    padding: 8px 16px;
    background-color: #fff;
    color: #757575 ;
}
.descripme p{
    padding: 8px 0;
}
.skills p{
    padding: 16px 0;
}
.language p{
    padding: 16px 0;
}
.descripme p i{ 
    margin-right: 16px;
}
i{
    color: #009688!important;
    margin-right: 16px;
}
hr{
   
    border-top: 1px solid #eee;
    margin: 20px 0;
}
img{
    vertical-align:middle;
}
.percent{
    background-color: #f1f1f1; 
    border-radius:16px;
}
.per{
    background-color: #009688; text-align:center;color:white;border-radius:16px;font-size: 12px !important;
}
.language{
    margin-top: 16px;
    padding: 16px 0;
}
.language h3{
    padding: 16px 0;
}
.container-work{
    margin: 16px 0;
    padding: 16px 24px;
    background-color: #fff; 
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
}
.container-work h1{
    padding-bottom: 24px;
}
.work{
    padding: 8px;
}
.firstp{
    color: #009688;
    margin: 16px 0;
}
.span{
    background-color: #009688!important;
    color: white!important;
    border-radius: 4px;
    padding: 4px 8px;
}
.grey{
    color: #757575;
}
.container-edu{
    margin: 16px 0;
    padding: 16px 24px;
    background-color: #fff; 
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
}
.footer{
    background-color:#009688;
    color: white;
    text-align: center;
}
.footer p{
    font-size: 15px;
    padding: 12px 0;
}
.footer p a{
    color: white;
}
.icon i{
    color: white!important;
    margin: 0;
}
@media screen and (max-width:601px) {
    .col33,.col66{
        width: 100%;
    }
    
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1,h2{
    font-weight: 400;
    margin: 10px 0;
}
body{
   font-size: 15px;
   line-height: 1.5;
}
