.content{
    margin: 0 auto;
}
.row::after{
    content: "";
    display: table;
    clear: both;
}
.row{
   
}
.col33{
    float: left;
    width: 33.333%;  
    padding: 16px 8px;
}
.col66{
    float: left;
    width: 66.666%;
    padding: 0 8px; 
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 16px;
}
.descripme{
    padding: 16px;
    background-color: #fff;
    color: #757575 ;
}
.descripme p{
    padding: 10px 0;
}
.descripme p i{ 
    margin-right: 16px;
}
i{
    color: #009688!important;
    margin-right: 16px;
}
hr{
    opacity: 0.6;
    margin: 16px 0;
}
img{
    vertical-align:middle;
}
.percent{
    background-color: #f1f1f1; 
    border-radius:16px;
}
.per{
    background-color: #009688; text-align:center;color:white;border-radius:16px;
}
.language{
    margin-top: 16px;
    padding: 16px 0;
}
.language h3{
    padding: 16px 0;
}
.container-work{
    margin: 16px 0;
    padding: 16px;
    background-color: #fff; 
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
}
.container-edu{
    margin: 16px 0;
    padding: 16px;
    background-color: #fff; 
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1,h2{
    font-weight: 400;
    margin: 10px 0;
}
